body {
    text-align: center;
    font-family: "Courier New", Arial;
    font-weight: bold;
    height: auto;
    width: auto;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    position: flex;
    justify-content: center;
}

form {
    display: inline-block;
    margin: 20px auto 20px auto;
}

h1 {
    font-family: Garamond, Arial;
}

footer {
    font-family: Garamond, Arial;
    margin: 30px auto auto auto;
    background-color: white;
}

#title {
    margin: auto auto 20px auto;
}

#description {
    margin: auto auto 20px auto;
}

#footerlicense {
    margin-bottom: 10px;
}

#footername {
    margin-top: 10px;
}

hr {
    height: 3px;
    background-color: #1f1f1f;
}

#dropdown {
    margin-top: 7px;
}

#divtitle {
    border: solid;
    border-radius: 7px;
    border-width: 30px;
    border-color: #1f1f1f;
    margin: auto 30% auto 30%;
    background-color: #1f1f1f;
    color: white;
}

html {
    background-image: url("https://c.tenor.com/GO77-LvOh9oAAAAj/cat-rainbow.gif");
    background-repeat: repeat;
    background-size: 70px 70px;
}